@{
    ViewBag.Title = "Error";
}

<h2>Ошибка</h2>

<p>
    Извините. Возникла ошибка.
    We're sorry, we've hit an unexpected error.
    <a href="javascript:history.go(-1)">Повторить</a>
    Вернуться и повторить еще раз.
</p>

